:root {
  --customBrown-light: rgb(243, 244, 246);
  --customBrown: #845333;
  --customBrown-dark: #845333;
  --customGreen-superLight: rgb(252, 255, 244);
  --customGreen-light: rgb(244, 252, 223);
  --customGreen: #3c6d16;
  --customGreen-dark: #2c510f;
  --customGreen-leaf: #afdc34;
  --mainColor-superLight: #f7f9ff;
  --mainColor-light: #d0daf5;
  --mainColor: #3961ce;
  --mainColor-dark: #1f3573;
  --mainColor-superDark: #0d1630;
  --mainColor-leaf: #f21e27;
  --customRed-superLight: #ffd6d6;
  --customRed-light: #ffa1a1;
  --customRed: #ff4d4d;
  --customRed-darker: #e04646;
  --customRed-dark: #470000;
}
